.Player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.p1 {
  grid-area: left;
}

.p2 {
  grid-area: right;
}

.bg {
  position: absolute;
  font-size: 25rem;
  color: rgba(255, 255, 255, 0.082);
  user-select: none;
}

.bg.light {
  color: rgba(255, 255, 255, 0.200);
}