* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --length: 10rem;
  --border: 3px solid black;
}

.Board {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-template-columns: repeat(3, var(--length));
  grid-auto-rows: var(--length);
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.box {
  font-size: calc(var(--length) / 2);
  border: var(--border);
  border-bottom: 0;
  border-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.box:nth-last-child(1),
.box:nth-last-child(2),
.box:nth-last-child(3) {
  border-bottom: var(--border);
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: var(--border);
}